/* *************************
      RESET
************************* */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container-app {
    height: calc(100dvh - 100px);
    display: flex;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;

}


/* GENERAL */
    /* bottoni */
    .btn {
        height: 40px;
        width: 40px;
        background-color: #a3a3a3;
        border: none;
        color: black;
        font-size: 25px;
        cursor: pointer;
        text-align: center;
    }

    .button-playlist {
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .col {
      width: calc(100% / 6 );
      display: flex;
    }

    .container {
     width: 100%;
}

   .col-nav {
    max-width: calc(100% / 3);
   }



   

/* HEADER  */

  .sidebar {
    background-color: #000000;
    max-width: 24vh;
    height: 100%;
    display: flex;
    overflow: hidden;
    padding: 10px 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    line-height: 2rem;
  }
   .logo {
    max-height: 7.5rem;
     text-align: center;
   }

   .small-logo {
    height: 50px;
    text-align: center;
    display: none;
   }

   .logo:hover {
    filter:invert(58%) sepia(97%) saturate(427%) hue-rotate(87deg) brightness(98%) contrast(85%);
  }
 
   .nav-main {
    padding-top: 60px;
   }

   .nav-small-main {
    display: none;
    margin-top: 60px;
   }

   .side-img {
    width: 30px;
    height: 30px;
    filter: brightness(0.3);
  }

  .nav-main a:hover, .side-img:hover, .playlist-link a:hover {
    color: white;
    filter: brightness(1);
  }

  .nav-main a {
    text-decoration: none;
    color: #717171;

  }

  .side-img:hover {
    border-left: 3px solid #adff2f;
  }

  .nav-main ul {
    list-style: none;
    
  }

  .nav-main a img {
    display:inline-block;
    vertical-align:middle;
    margin-right:5px;
  }

  .playlist-link {
    color: white;
    padding-top: 30px;
  }

  .playlist-link a {
    text-decoration: none;
    color: #717171;

  }

  .playlink {
    display: flex;
  }

  .playlist{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-grow: 1;
    height: 100%;
  }

 
  
  .bar-end {
   margin-top: auto;


 }

  .text-end {
      color: #717171;
      font-size: 12px;
      font-weight: bolder;
  
  }

  .text-end hr {
      width: 20vh;
      margin-top: 5px;
      margin-bottom: 5px;
  }

  .account-bar {
      color: white;
      font-size: 0.95rem;
  }

  .end-bar:hover {
      color: white;
  }


  .download {
      width: 1rem;
  }

  .profile {
      background-color: #a3a3a3;
      border-radius: 50%;
      width: 1rem;
  }

/* MAIN */
main {
  background-color: #141922;
  width: 100%;
  overflow-y: auto;
  flex-grow: 1;
}

.main-top {
  background-color: #080b12;
  display: flex;
  height: 70px;
  width: 100%;
  overflow-y: hidden;
  position: sticky;
}

.main-btn {
  margin-left: auto;
  margin-right: 20px;
  margin-top: 10px;
 
}

.btn-main {
 background: none;
 border: 1px solid white;
 color: white;
 padding: 10px 10px;
 border-radius: 20px;
}

.btn-main:hover {
  background: none;
  border: 1px solid white;
  color: white;
  padding: 15px 15px;
  border-radius: 20px;
  font-size: 14px;
}

.row {
  display: flex;
  flex-wrap: wrap;

}

.main-menu {
  color: white;

}

.menu-text {
  color: white;
  margin: auto;
  gap: 60px;
  list-style: none;  
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  font-weight: bold;
}

.border-text:hover {
  border-bottom: 2px solid #adff2f;
}

.menu-text a {
  color:#7a7d81;
  text-decoration: none;
}

.menu-text a:hover {
  color:white;

}

.recent-play {
  padding: 30px 30px;
  color:white;
}

.card {
  padding-top: 30px;
  text-align: center;
 
}

.card img {
  width: 95%;
 display: flex;
 flex-wrap: wrap;
 gap: 10px;

}

.card-text {
  padding-top: 20px;
}

main span {
  color:#7a7d81;

}
.main-end span {
  font-size: 14px;
}
.circle {
  border-radius: 50%;
}

.img-card {
  position: relative;
  display: flex;
  overflow: hidden;
}

.overlay {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100%;
  max-width: 95%;
  opacity: 0;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  color: white;
  font-size: 80px;
  background-color: rgba(0,0,0, 0.5);
  transition: .5s ease;
}

.img-card:hover .overlay {
  opacity: 1;
}

.overlay2 {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100%;
  max-width: 95%;
  opacity: 0;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  color: white;
  font-size: 80px;
  background-color: rgba(0,0,0, 0.5);
}

.circle:hover .overlay2 {
  opacity: 1;
  border-radius: 50%;

}

/* FOOTER */  

footer {
  background-color: #282828;
  height: 100px;
  width: 100%;
  color: white;
  position: sticky;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
 }

.footer-marginr {
  margin-right: 30px;
}

.marginr {
  margin-right: 60px;
}

.footer-marginl {
  margin-left: 30px;
}

.stereo {
  display: flex;
  margin-top: 10px;
}


.bar {
  margin-top: 15px;
  height: 6px;
  background: gray;
  width:100%;
  margin-right: 60px;
}
.bar-inside {
  margin-top: 15px;
  height: 100%;
  width: 50%;
  background: lightgray;
  margin-right: 60px;
}

.bar-inside:hover {
  margin-top: 15px;
  height: 100%;
  width: 50%;
  background: #adff2f;
  margin-right: 60px;
}
.size {
  font-size: 20px;
}

.playbtn {
  scale: 3;
  margin-left: 0px;
  padding-top:  2px;
  padding-right: 20px;
  padding-left: 20px;
}

.playbtn:hover {
  scale: 3.2;
}

.video img {
  width: 100%;
}

.nav-footer {
  position: relative;
  display: flex;
}

.video {
  margin-top: 10px;
  display: flex;
  max-width: 60px;
  max-height: 60px;
}

.video-txt {
  padding-top: 25px;
  padding-left: 10px;
}

.video-txt span {
  font-size: 14px;
  color: #848484;
  font-weight: bold;

}

.video-txt span:hover {
  color: white;
}


.favorite {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #848484;
}

.fav:hover {
  color: white;
}

.fav {
  color:#848484;
  padding-left: 4px;
}

.play {
  display: flex;
  text-align: center;
}

.high {
  margin-top: 16px;
}

.sec-bar {
  margin-top: 16px;
  padding-right: 8px;
}



@media screen and ( max-width: 1100px) {
  .col {
    width: calc(90%/ 4 );
  }

  .col-nav {
   max-width: calc(100% / 3);
  }

  .footer-row {
    display: flex;
    flex-wrap: nowrap;
   }
  

}
  
@media screen and ( max-width: 700px) {
  .col {
    width: calc(90%/ 2 );
  }

  .col-nav {
    max-width: calc(100% / 3);
  }


  .container {
    max-width: 100%;
  }

  .footer-marginr {
    margin-right:15px;
    }

}

@media screen and (max-width: 600px) {
    .sidebar {
        width: 70px;
    }
    

    .playlist-link{
        display: none;
    }

    .logo {
        display: none;
    }

    .small-logo {
        height: 30px;
        display: inline;
       }


      .nav-main {
        display: none;
      } 
      
      .nav-small-main {
        display: inline;
        padding: 60px;
 
      }
      .small-logo:hover {
        filter:invert(58%) sepia(97%) saturate(427%) hue-rotate(87deg) brightness(98%) contrast(85%);
      }

      hr {
        display: none;
      }

      .installa, .name {
        display: none;
      }

      .download {
        width: 2rem;
    }
  
    .profile {
        background-color: #a3a3a3;
        border-radius: 50%;
        width: 2rem;
    }
  
    .col-nav {
      max-width: calc(100% / 3);
    }
    

}