/* *************************
      RESET
************************* */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container-app {
    height: calc(100dvh - 90px);
    display: flex;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;

}


/* GENERAL */
    /* bottoni */
    .btn {
        height: 40px;
        width: 40px;
        background-color: #a3a3a3;
        border: none;
        color: black;
        font-size: 25px;
        cursor: pointer;
        text-align: center;
    }

    .button-playlist {
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .col {
      width: calc(100vh / 6 );
    }

    .container {
  width: 100%;
  height: auto;
}


footer {
    background-color: #282828;
    height: 90px;
}

/* HEADER  */

  .sidebar {
    background-color: #000000;
    max-width: 24vh;
    height: 100%;
    display: flex;
    overflow: hidden;
    padding: 10px 20px;
    flex-direction: column;
    line-height: 2rem;
  }
   .logo {
    max-height: 7.5rem;
     text-align: center;
   }

   .small-logo {
    height: 50px;
    text-align: center;
    display: none;
   }

   .logo:hover {
    filter:invert(58%) sepia(97%) saturate(427%) hue-rotate(87deg) brightness(98%) contrast(85%);
  }
 
   .nav-main {
    padding-top: 60px;
   }

   .nav-small-main {
    display: none;
    margin-top: 60px;
   }

   .side-img {
    width: 30px;
    height: 30px;
    filter: brightness(0.3);
  }

  .nav-main a:hover, .side-img:hover, .playlist-link a:hover {
    color: white;
    filter: brightness(1);
  }

  .nav-main a {
    text-decoration: none;
    color: #717171;

  }

  .nav-main ul {
    list-style: none;
    
  }

  .nav-main a img {
    display:inline-block;
    vertical-align:middle;
    margin-right:5px;
  }

  .playlist-link {
    color: white;
    padding-top: 30px;
  }

  .playlist-link a {
    text-decoration: none;
    color: #717171;

  }

  .playlist{
    overflow-y: auto;
  }


  
  .bar-end {
   margin-top: auto;


 }

  .text-end {
      color: #717171;
      font-size: 12px;
      font-weight: bolder;
  
  }

  .text-end hr {
      width: 20vh;
      margin-top: 5px;
      margin-bottom: 5px;
  }

  .account-bar {
      color: white;
      font-size: 0.95rem;
  }

  .end-bar:hover {
      color: white;
  }


  .download {
      width: 1rem;
  }

  .profile {
      background-color: #a3a3a3;
      border-radius: 50%;
      width: 1rem;
  }

/* MAIN */
main {
  background-color: #141922;
  width: 100%;
  overflow-y: auto;
  flex-grow: 1;
}

.main-top {
  background-color: #080b12;
  display: flex;
  height: 70px;
  
}

.main-btn {
  margin-left: auto;
  margin-right: 20px;
  margin-top: 10px;
 
}

.btn-main {
 background: none;
 border: 1px solid white;
 color: white;
 padding: 10px 10px;
 border-radius: 20px;
}

.btn-main:hover {
  background: none;
  border: 1px solid white;
  color: white;
  padding: 15px 15px;
  border-radius: 20px;
  font-size: 14px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.main-menu {
  color: white;

}

.menu-text {
  color: white;
  margin: auto;
  gap: 60px;
  list-style: none;  
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  font-weight: bold;
}

.border-text:hover {
  border-bottom: 2px solid #adff2f;
}

.menu-text a {
  color:#7a7d81;
  text-decoration: none;
}

.menu-text a:hover {
  color:white;

}

.recent-play {
  padding: 30px 30px;
  color:white;
}

@media screen and (max-width: 600px) {
    .sidebar {
        width: 70px;
    }
    

    .playlist-link{
        display: none;
    }

    .logo {
        display: none;
    }

    .small-logo {
        height: 30px;
        display: inline;
       }


      .nav-main {
        display: none;
      } 
      
      .nav-small-main {
        display: inline;
        padding: 60px;
 
      }
      .small-logo:hover {
        filter:invert(58%) sepia(97%) saturate(427%) hue-rotate(87deg) brightness(98%) contrast(85%);
      }

}